@import 'config';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.showcase {
    @include set-background($primary-color);
    height: 600px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
        }

        a {
            color: set-text-color($primary-color);
        }

        li {
            padding: 15px;
        }

        a:hover {
            color: $secondary-color;
        }
    }


    .showcase-content {
        height: 100%;
        display: flex;
        align-items: center;
        background: $primary-color;
        border-radius: 20px;
        padding: 5px;

        img {
            width: 50%;
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.2;
        }


    }


}

footer {
    width: 100%;
    background: $third-color;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    height: auto;
    bottom: 0;
}


@import 'utilities';
@import 'buttons';
@import 'mobile';