@import 'config';
@import 'utilities';
@import 'buttons';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.showcase {
    @include set-background($primary-color);
    height: 600px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding: 15px;
        }

        a:hover {
            color: $secondary-color;
        }
    }

    a {
        color: set-text-color($primary-color);
    }

    .showcase-content {
        height: 100%;
        display: flex;
        align-items: center;
        background: $primary-color;
        border-radius: 20px;
        padding: 5px;

        img {
            width: 50%;
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.2;
            color: set-text-color($primary-color);
        }

        p {
            margin: 20px 0;
            color: set-text-color($primary-color);
        }
    }


}

footer {
    width: 70%;
    background: $third-color;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin: 50px auto;
    border-radius: 10px;
    height: auto;
    bottom: 0;
}



@media screen and (max-width:450px) {
    .showcase {
        height: 100vh;

        nav {
            flex-direction: column-reverse;

            h1 {
                font-size: 1.2em;
                text-align: center;
                margin-top: 40px;
            }
        }
    }

    .showcase-content {
        flex-direction: column-reverse;
        margin-top: 20vh;

        .showcase-header {
            h1 {
                font-size: 1.5em;
            }

            
        }
    }
}